/* LoginForm.css */

/* Background Gradient */
.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-gradient {
  background: none;
}

/* Tilt Card */
.Tilt {
  perspective: 1000px;
}

.Tilt-inner {
  transform-style: preserve-3d;
  padding: 40px;
  border: 10px solid transparent;
  background-clip: padding-box;
  border-image: linear-gradient(
    45deg,
    #00c3ff,
    #0072ff,
    #ff0000,
    #00ff00,
    #ffff00
  );
  border-image-slice: 1;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.5); /* Add the black shadow here */
  animation: gradientBorder 5s linear infinite alternate;
}

/* ... (rest of the styles) ... */

/* Glassmorphism Effect */
.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

/* Text Colors */
.text-blue-300 {
  color: #00c3ff;
}

.text-blue-500 {
  color: #0072ff;
}

.text-white {
  color: #fff;
}

.text-gray-700 {
  color: #4a4a4a;
}

/* Typography */
.text-sm {
  font-size: 0.875rem;
}

.font-bold {
  font-weight: 700;
}

/* Margins */
.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

/* Form Styles */
.block {
  display: block;
}

.border {
  border: 1px solid #e2e8f0;
}

.rounded {
  border-radius: 0.25rem;
}

.w-full {
  width: 100%;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.leading-tight {
  line-height: 1.25;
}

/* Focus Styles */
.focus\:outline-none:focus {
  outline: none;
}

.focus\:shadow-outline:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

/* Button Styles */
.bg-blue-300 {
  background-color: #00c3ff;
}

.bg-blue-500 {
  background-color: #0072ff;
}

.hover\:bg-blue-700:hover {
  background-color: #005cbf;
}

/* Heading Styles */
.text-3xl {
  font-size: 1.875rem;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-red-500 {
  background-color: #ff0000;
}

.text-green-500 {
  color: #00ff00;
}

.text-yellow-500 {
  color: #ffff00;
}

/* animations */

@keyframes gradientBorder {
  0% {
    border-image-source: linear-gradient(
      45deg,
      #00c3ff,
      #0072ff,
      #ff0000,
      #00ff00,
      #ffff00
    );
  }
  100% {
    border-image-source: linear-gradient(
      45deg,
      #ffff00,
      #00ff00,
      #ff0000,
      #0072ff,
      #00c3ff
    );
  }
}
